@charset "UTF-8";

@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-SemiBold.woff2") format("woff2"), url("../fonts/Akrobat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-Regular.woff2") format("woff2"), url("../fonts/Akrobat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("../fonts/Akrobat-Bold.woff2") format("woff2"), url("../fonts/Akrobat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Akrobat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Akrobat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  background: #000;
}

::-moz-selection {
  background-color: #000;
  color: #fff;
}

::selection {
  background-color: #000;
  color: #fff;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 20;
  padding: 0.625rem 0;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  display: block;
  background-color: #000;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 2.5rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: color 0.9s ease-in-out;
  -o-transition: color 0.9s ease-in-out;
  transition: color 0.9s ease-in-out;
}

@supports (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
  .header__logo {
    font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1590909091rem  +  0.4545454545vw , 1.5rem )) {
  .header__logo {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 55);
  }
}

.header__surname {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header__name {
  font-weight: 600;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: color 0.9s ease-in-out;
  -o-transition: color 0.9s ease-in-out;
  transition: color 0.9s ease-in-out;
}

@supports (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .header__contacts {
    font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0795454545rem  +  0.2272727273vw , 1.25rem )) {
  .header__contacts {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55);
  }
}

.header__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.375rem;
}

.header__item img {
  fill: #fff;
}

.header__item::before {
  content: "";
  position: absolute;
  display: block;
  bottom: -0.1875rem;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #000;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

._header-scroll {
  position: fixed;
  -webkit-box-shadow: 0px 6px 10px -1px rgba(34, 44, 52, 0.5);
          box-shadow: 0px 6px 10px -1px rgba(34, 44, 52, 0.5);
  background-color: #000;
  -webkit-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}

._header-scroll .header__logo {
  color: #fff;
  -webkit-transition: color 0.9s ease-in-out;
  -o-transition: color 0.9s ease-in-out;
  transition: color 0.9s ease-in-out;
}

._header-scroll .header__contacts {
  color: #fff;
  -webkit-transition: color 0.9s ease-in-out;
  -o-transition: color 0.9s ease-in-out;
  transition: color 0.9s ease-in-out;
}

._header-scroll .header__item::before {
  background-color: #fff;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.face {
  position: relative;
  padding-top: 7.5rem;
}

.face__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

@supports (font-size: clamp( 2.25rem , 1.7954545455rem  +  2.2727272727vw , 3.5rem )) {
  .face__title {
    font-size: clamp( 2.25rem , 1.7954545455rem  +  2.2727272727vw , 3.5rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.7954545455rem  +  2.2727272727vw , 3.5rem )) {
  .face__title {
    font-size: calc(2.25rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.face__name {
  text-transform: none;
}

@supports (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
  .face__name {
    font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
  .face__name {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.face__callme {
  position: fixed;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px 8px 0px rgba(56, 56, 56, 0.2);
          box-shadow: 8px 8px 8px 0px rgba(56, 56, 56, 0.2);
  bottom: 3.125rem;
  padding: 0.3125rem;
  border: solid #000 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 150;
}

@supports (right: clamp( 1.75rem , -6.25rem  +  16.6666666667vw , 6.25rem )) {
  .face__callme {
    right: clamp( 1.75rem , -6.25rem  +  16.6666666667vw , 6.25rem );
  }
}

@supports not (right: clamp( 1.75rem , -6.25rem  +  16.6666666667vw , 6.25rem )) {
  .face__callme {
    right: calc(1.75rem + 4.5 * (100vw - 48rem) / 27);
  }
}

.face__callme img {
  -webkit-animation-name: dance;
          animation-name: dance;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.face__text {
  font-size: 1rem;
}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes dance {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }

  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }

  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes run {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }

  100% {
    -webkit-transform: translate(220px);
            transform: translate(220px);
  }
}

@keyframes run {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }

  100% {
    -webkit-transform: translate(220px);
            transform: translate(220px);
  }
}

.education {
  position: relative;
}

@supports (padding-top: clamp( 1.25rem , -1.875rem  +  5vw , 1.875rem )) {
  .education {
    padding-top: clamp( 1.25rem , -1.875rem  +  5vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -1.875rem  +  5vw , 1.875rem )) {
  .education {
    padding-top: calc(1.25rem + 0.625 * (100vw - 62.5rem) / 12.5);
  }
}

.education::before {
  content: "";
  position: absolute;
  top: -43%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  left: 0;
  display: block;
  height: 25rem;
  width: 70%;
  z-index: 0;
  background-color: #000;
}

.education__container {
  padding: 1.25rem 0.9375rem;
}

.education__title {
  display: inline-block;
  margin-bottom: 1.875rem;
  position: relative;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
  .education__title {
    font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
  .education__title {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.education__title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70%;
  height: 0.125rem;
  background-color: #fff;
}

.education__item {
  position: relative;
  max-width: 50rem;
  color: #fff;
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .education__item {
    font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .education__item {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
  }
}

.education__item:not(:last-child) {
  margin-bottom: 1.625rem;
}

.education__years {
  position: relative;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: 1.75rem;
}

@supports (font-size: clamp( 1.5rem , 1.4090909091rem  +  0.4545454545vw , 1.75rem )) {
  .education__years {
    font-size: clamp( 1.5rem , 1.4090909091rem  +  0.4545454545vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.4090909091rem  +  0.4545454545vw , 1.75rem )) {
  .education__years {
    font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 55);
  }
}

.education__descr {
  font-style: italic;
  opacity: 0.5;
  margin-bottom: 0.9375rem;
}

.works {
  padding-bottom: 0rem;
  position: relative;
}

@supports (padding-top: clamp( 2.5rem , -3.75rem  +  10vw , 3.75rem )) {
  .works {
    padding-top: clamp( 2.5rem , -3.75rem  +  10vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , -3.75rem  +  10vw , 3.75rem )) {
  .works {
    padding-top: calc(2.5rem + 1.25 * (100vw - 62.5rem) / 12.5);
  }
}

.works::before {
  content: "";
  position: absolute;
  top: -38%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  display: block;
  height: 30rem;
  width: 60%;
  z-index: 0;
  background-color: #000;
}

.works__container {
  padding: 1.25rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.works__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 1.875rem;
  position: relative;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
  .works__title {
    font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.6477272727rem  +  1.1363636364vw , 2.5rem )) {
  .works__title {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.works__title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 70%;
  height: 0.125rem;
  background-color: #fff;
}

.works__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  max-width: 50rem;
  color: #fff;
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .works__item {
    font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .works__item {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
  }
}

.works__item:not(:last-child) {
  margin-bottom: 1.625rem;
}

.works__years {
  position: relative;
  margin-bottom: 0.25rem;
  font-weight: 600;
}

@supports (font-size: clamp( 1.5rem , 1.4090909091rem  +  0.4545454545vw , 1.75rem )) {
  .works__years {
    font-size: clamp( 1.5rem , 1.4090909091rem  +  0.4545454545vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.4090909091rem  +  0.4545454545vw , 1.75rem )) {
  .works__years {
    font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 55);
  }
}

.works__descr {
  font-style: italic;
  opacity: 0.5;
  margin-bottom: 0.9375rem;
}

.skills {
  padding: 6.25rem 0;
  background-color: #e9e7e7;
}

.skills__title {
  position: relative;
  display: inline-block;
  font-weight: 600;
}

@supports (font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem )) {
  .skills__title {
    font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2272727273rem  +  1.3636363636vw , 2.25rem )) {
  .skills__title {
    font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 55);
  }
}

@supports (margin-bottom: clamp( 1.5rem , 0.6818181818rem  +  4.0909090909vw , 3.75rem )) {
  .skills__title {
    margin-bottom: clamp( 1.5rem , 0.6818181818rem  +  4.0909090909vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.6818181818rem  +  4.0909090909vw , 3.75rem )) {
  .skills__title {
    margin-bottom: calc(1.5rem + 2.25 * (100vw - 20rem) / 55);
  }
}

.skills__title::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 0.125rem;
  width: 80%;
  display: block;
  background-color: #000;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (margin-bottom: clamp( 1.125rem , 0.1704545455rem  +  4.7727272727vw , 3.75rem )) {
  .skills__inner {
    margin-bottom: clamp( 1.125rem , 0.1704545455rem  +  4.7727272727vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.1704545455rem  +  4.7727272727vw , 3.75rem )) {
  .skills__inner {
    margin-bottom: calc(1.125rem + 2.625 * (100vw - 20rem) / 55);
  }
}

@supports (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .skills__inner {
    gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .skills__inner {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.skills__text {
  line-height: 130%;
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .skills__text {
    font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .skills__text {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

@supports (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .info__text {
    font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9886363636rem  +  0.6818181818vw , 1.5rem )) {
  .info__text {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55);
  }
}

.footer {
  padding: 1.25rem 0.9375rem;
  background-color: #000;
}

.footer__container {
  min-height: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  font-size: 1.875rem;
  color: #fff;
}

.footer__link {
  padding: 0.3125rem;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: transform 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transition: transform 0.4s ease, opacity 0.4s ease, -webkit-transform 0.4s ease;
}

.footer__editby {
  margin-left: auto;
  color: #fff;
  font-size: 0.875rem;
  font-style: italic;
}

@media (max-width: 1180px) {
  .education::before {
    display: none;
  }

  .education__container {
    background-color: #000;
  }

  .works::before {
    display: none;
  }

  .works__container {
    background-color: #000;
  }
}

@media (max-width: 47.99875em) {
  .face__callme {
    display: none;
  }

  .education::before {
    width: 100%;
  }

  .works::before {
    width: 100%;
  }

  .skills {
    padding: 2.5rem 0;
  }

  .skills__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .header__logo:hover .header__surname {
    -webkit-transform: translateY(-0.4375rem);
        -ms-transform: translateY(-0.4375rem);
            transform: translateY(-0.4375rem);
  }

  .header__logo:hover .header__name {
    -webkit-transform: translateY(0.4375rem);
        -ms-transform: translateY(0.4375rem);
            transform: translateY(0.4375rem);
  }

  .header__item:hover::before {
    width: 100%;
  }

  .face__callme:hover img {
    -webkit-animation: run;
            animation: run;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .footer__link:hover {
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px);
    opacity: 1;
  }
}